.mat-sidenav-container {
    flex: 1;
}

.mat-sidenav.mat-drawer-side {
    background: inherit;
}

.mat-sidenav {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    .mat-nav-list {
        a.mat-list-item {
            flex: 1 0;
            text-align: left;
        }
        a.mat-list-item.active {
            font-weight: bolder;
        }
    }
}

#app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }