.mat-sidenav-container {
    flex: 1;
}

.mat-sidenav {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    ul {
        display: block;
        margin: 0;
        padding: 0;
        li a {
            display: block;
            flex: 1 0;
        }
    }
}

#app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }