<div id='app-container'>

  <mat-toolbar color="primary">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      Angular Example for AppAuth-JS
    </mat-toolbar>
  <mat-sidenav-container>
  <mat-sidenav #snav>
    <ul>
    <li><a routerLink='/dashboard' mat-button>Dashboard</a></li>
    <li><a routerLink='/metadata' mat-button>Server Metadata</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class='root'>
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
  </mat-sidenav-container>
  </div>