<mat-card *ngIf='!authorized'>
  <mat-card-header>
    <mat-card-title>User information</mat-card-title>
    <mat-icon mat-card-avatar style='font-size: 40px'>info</mat-icon>
    <!-- <i mat-card-avatar style='font-size: 40px' class="material-icons">info</i> -->
  </mat-card-header>
  <mat-card-content>
    <p>
    There is no currently authenticated/authorized user.
    </p>
  </mat-card-content>
  <button *ngIf="!userInfo" id="handle-sign-in" mat-button (click)='authorizationService.authorize()'>SIGN IN</button>
</mat-card>
<mat-card *ngIf='authorized'>
  <mat-card-header>
    <mat-card-title>User information</mat-card-title>
    <img mat-card-avatar *ngIf="userInfo?.picture" src='{{userInfo?.picture}}' referrerpolicy="no-referrer" />
  </mat-card-header>
  <mat-card-content *ngIf='!userInfo'>
    <h4>Authorized</h4>
    <p>The user has been authorized by the Identity Provider, but has no user information to display</p>
  </mat-card-content>
  <mat-card-content *ngIf='userInfo'>
      <h4>Authorized</h4>
      <p>The user has been authorized by the Identity Provider, with the following additional user information.</p>
      <pre class='json-display'>{{ userInfo | json }}</pre>
  </mat-card-content>
  <button id="handle-sign-out" mat-button (click)='authorizationService.signOut()'>SIGN OUT</button>
</mat-card>